<launch>
    <!-- Define the node for sound_reverse_player.py -->
    <node name="sound_reverse_player" pkg="obstacle_stopper" type="sound_reverse_player.py" output="screen">
    </node>
    <!-- Define the node for sound_reverse_verbal_player.py -->
    <node name="sound_reverse_player" pkg="obstacle_stopper" type="sound_reverse_verbal_player.py" output="screen">
    </node>
</launch>