<launch>

    <!-- <node name="sound_player" pkg="obstacle_stopper" type="sound_rotation_player.py"/> -->
    <!-- <node name="sound_player" pkg="obstacle_stopper" type="sound_still_player.py"/> -->
    <node name="sound_player" pkg="obstacle_stopper" type="sound_player.py" output="screen"/>

    <node name="sound_reverse_beep_player" pkg="obstacle_stopper" type="sound_reverse_player.py" output="screen" />
    <node name="sound_reverse_voice_player" pkg="obstacle_stopper" type="sound_reverse_verbal_player.py" output="screen"/>

</launch>